@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: #f3f4f6;
  overflow-x: hidden;
}

/* Custom Cyberpunk Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0b0f19;
}
::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 3px;
}
